body {
    margin: 0;
    padding: 0;
font-family:Arial, Helvetica, sans-serif ;
background-color: black;
color: blue;

}

.cabeçalho{background-color: black;
color: aliceblue
white; 20px;
   text-align:center;
 .".cabeçalho 1h{
  
 font-size:200%;
 color: black;
 margin:5%;

}
